name: Build & Release (Windows, Linux)

on:
  push:
    branches:
      - master
      - workflow
jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v1
        with:
          node-version: 16.9.1

      - name: Download RewindDefaultSkin
        uses: wei/wget@v1
        with:
          args: -O RewindDefaultSkin.zip "https://drive.google.com/uc?id=1ftm6PDXGoe1Q3dlyZgejC4nnWKI21ZXd&export=download"

      - name: Unzipping the Skin to `resources/Skins` dir
        uses: montudor/action-zip@v1
        with:
          args: unzip -qq RewindDefaultSkin.zip -d resources/Skins

      - name: Build/release Electron app
        uses: samuelmeuli/action-electron-builder@v1
        with:
          # GitHub token, automatically provided to the action
          # (No need to define this secret in the repo settings)
          github_token: ${{ secrets.github_token }}

          # If the commit is tagged with a version (e.g. "v1.0.0"),
          # release the app after building
          release: ${{ startsWith(github.ref, 'refs/tags/v') }}
